---
---

@import "{{ site.theme }}";

pre {
    white-space: pre-wrap; /* Enables wrapping for long lines */
    word-break: auto; /* Breaks words to prevent overflow */
    overflow: hidden; /* Hides the horizontal scrollbar */
    background-color: #f0f0f0; /* Example: a light grey */
}

body {
    background: #dacfb0;
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: normal;
    font-style: normal;
}