---
---

@import "{{ site.theme }}";

pre {
    white-space: pre-wrap; /* Enables wrapping for long lines */
    word-break: auto; /* Breaks words to prevent overflow */
    overflow: hidden; /* Hides the horizontal scrollbar */
  }
